<h1>Log In Below:</h1>
<form method='POST' action='/sessions'> 
<p>email</p>
<input type=text name='email' id='email'>
<p>password</p>
<input type=text name='password' id='password'>
<input type=submit value='Log in' id='Log In'>
</form>
