<h1>Log In Below:</h1>

<form action="/sessions" method="post">
<label for="email">Email:</label>
<input name="email" type="email" id="email">
<label for="password">Password:</label>
<input name="password" type="password" id="password">
<input type="submit" id="Log In" name="submit">
</form>