<h1>Log In Below:</h1>

<form method="POST" action="/sessions">
    Enter your email: <input type="email" name="email"><br><br>
    Password: <input type="password" name="password"><br><br>
    Log In<input type="submit" value="Log In">
</form>

