<h1>Sign Up Below:</h1>

<form action="/registrations" method="POST"
  First name:<br>
  <input type="text" value="name"><br>
  Email:<br>
  <input type="text" name="email"><br>
  Password:<br>
  <input type="text" name="email"><br><br>
  <input type="submit" value="Submit">




</form>
