<h1>Sign Up Below:</h1>

<form action="/registrations" method="post">
<label for="name">Name:</label>
<input name="name" type="text" id="name">
<label for="email">Email:</label>
<input name="email" type="email" id="email">
<label for="password">Password:</label>
<input name="password" type="password" id="password">
<input type="submit" id="Sign Up" name="submit">
</form>
        