<h1>Sign Up Below:</h1>

<form method="POST" action="/registrations">
    Enter your name: <input type="text" name="name"><br><br>
    Enter your email: <input type="email" name="email"><br><br>
    Choose your password: <input type="password" name="password"><br><br>
    <input type="submit" value="Sign Up">
</form>


