<h1>Sign Up Below:</h1>
<form action='/registrations' method='POST'>
  <p>Name:</p><input name='name' type='TEXT'>
  <p>Email:</p><input name='email' type='TEXT'>
  <p>Password:</p><input name='password' type='TEXT'>
  <input type='submit' value='Sign Up'>
</form>
