<h1>Sign Up Below:</h1>
<form method = "POST" action = "/registrations">
<lable for = "name">name<lable>
<input type = "text" name = "name"></br>
<lable for = "email">email</label>
<input type = "text" name = "email"></br>
<lable for = "password">password</label>
<input type = "text" name = "password"></br>
<input type = "submit" value = "Sign Up">
</form>

